/.settings
/.project
/.buildpath
/composer.phar
/vendor
/nbproject
/tests/composer-test.phar
.phpunit.result.cache
phpunit.xml
.vagrant
Vagrantfile
.idea
.vscode
.php-cs-fixer.cache
.env
dashboard-design.png
info.php
error_log
.DS_Store
public/uploads/documents
composer.lock
refrences
logs/*
public/calendar
public/bower_components
public/uploads/documents/*
public/uploads/images/banners/*
public/uploads/images/docs/*
public/uploads/images/tests/*
public/uploads/images/users/*