APP_URL=
APP_DEBUG=
VIEW_CACHE_DISABLED=
APP_NAME=

DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASS=
DB_PORT=
DB_CHARSET=
DB_DRIVER=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM=
ADMIN_MAIL=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_PUBLIC_KEY=


#migrating only
OLD_DB_HOST=
OLD_DB_PORT=
OLD_DB_NAME=
OLD_DB_USERNAME=
OLD_DB_PASS=
OLD_DB_DRIVER=